table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #f2f2f2 !important;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f5f5f5;
}

td {
  height: 80px;
}

tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

.lec-cell {
  background-color: #f2f2f2;
  font-weight: bold;
  border-radius: 5px; 
}

.lab-cell {
  background-color: #c3e6cb;
  font-weight: bold;
}

.timetable-cell {
  background-color: #ffffff;
  font-weight: normal;
}

/* for legend only */
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.legend > div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

.lec {
  background-color: #f2f2f2;
  color: black;
}

.lab {
  background-color: #c3e6cb;
  color: black;
}

.timetable-cell {
  border: 1px solid #ddd;
  padding: 10px;
}

.timetable-subject {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

.timetable-instructor {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}

.timetable-entrants {
  font-size: 0.8em;
  color: #666;
}

.capable-students-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
}

.capable-students-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.capable-students-dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}

.capable-students-dropdown li:hover {
  background-color: #f6f6f6;
}